In [ ]:
import pandas as pd

# Creating the employee DataFrame
data = {
    'Name': ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'],
    'Department': ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'],
    'Age': [30, 40, 25, 35, 45, 28],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
    'Salary': [50000, 60000, 45000, 55000, 70000, 55000],
    'Experience': [3, 7, 2, 5, 10, 4]
}

employee_df = pd.DataFrame(data)

# Selecting the first 3 rows using iloc
first_three_rows = employee_df.iloc[:3]
print("First 3 Rows:\n", first_three_rows)

# Selecting all rows where the Department is "Marketing" using loc
marketing_employees = employee_df.loc[employee_df['Department'] == 'Marketing']
print("\nMarketing Employees:\n", marketing_employees)

# Selecting Age and Gender columns for the first 4 rows using iloc
age_and_gender = employee_df.iloc[:4, [2, 3]]
print("\nAge and Gender (First 4 Rows):\n", age_and_gender)

# Selecting Salary and Experience columns where Gender is "Male" using loc
male_salary_experience = employee_df.loc[employee_df['Gender'] == 'Male', ['Salary', 'Experience']]
print("\nSalary and Experience of Male Employees:\n", male_salary_experience)

First 3 Rows:
    Name Department  Age  Gender  Salary  Experience
0  John         IT   30    Male   50000           3
1  Mary  Marketing   40  Female   60000           7
2   Bob      Sales   25    Male   45000           2

Marketing Employees:
    Name Department  Age  Gender  Salary  Experience
1  Mary  Marketing   40  Female   60000           7
5  Lisa  Marketing   28  Female   55000           4

Age and Gender (First 4 Rows):
    Age  Gender
0   30    Male
1   40  Female
2   25    Male
3   35  Female

Salary and Experience of Male Employees:
    Salary  Experience
0   50000           3
2   45000           2
4   70000          10